html{
    padding: 65px 0px;
}
* {
    margin: auto;
    font-family:  'Geneva';
    font-size: 16px;
    background-color: #edefeb;
}
h1 {
    padding:  20px 0 0 0;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 2px;
}
h2 {
    padding:  20px 0 0 0;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}
.container{

    padding: 20px 0px;
}
.news_wrapper {
    padding: 20px;

}

.news_line {
    margin: 5px 0 0 0;
    border: none;
    border-top: 2px dotted rgb(73, 4, 4);
    padding: 0;
    height: 0;
}
.one_news{
    padding: 3px 0px;
}
.news_date {
    background-color: #832b5b;
    padding: 2px 5px;
    color: #ffffff;
    font-size: 12px;
}
.news_title-news {
    padding: 0 5px;
}
.news_text-news {
    padding: 5px 0;
}
.news_page-link {
    text-align: center;
    font-size: 12px;
    margin: 0 5px 0 0;
    box-sizing: border-box;
    background-color: #eeeeee;
    border: 1px solid #caccc9;
    color: #000000;
    text-decoration: none;
    width: 35px;
    display: inline-block;
}
section{
    border: 1px solid #caccc9;
    width: 60%;
}
section, p, span, a, h1, h2, div{
    background-color: #fff;
}
p {
    padding-block-end: 15px;
}

@media screen and (max-width: 1024px) {
    html{
        padding: 0;
    }
}